@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400&family=Roboto:ital,wght@0,300;1,100&display=swap');

*{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
 
}
html{
    background-color: #ededed;
}
header{
    display: flex;
    align-items: center;
    background-color: #434597;
    width: 100vw;
    height: 13vh;
    position: relative;
    box-shadow: grey 0px -3px 11px 3px;
}
#imagem{
    height: 70px;
    cursor: pointer;
}
.imagem{
    height: 100%;
}
h1{
    color: white;
    font-family: monospace;
}
#usuario-header{
    position: absolute;
    right: 90px;
    color: white;
    font-family: monospace;
}
.codigo{
    width: 84%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}
.trinta{
    width: 30%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}
.borda{
    border: solid 1px black;
}
.input{
    width: 90%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}
#pos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    background-color: white;
    margin-bottom: 10px;
    padding: 4px;
}
.imoveis-header{
    padding: 10px;
    margin: 0 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
    color: black;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%), 0 3px 1px -2px rgb(0 0 0 / 8%), 0 1px 5px 0 rgb(0 0 0 / 8%);
    border: solid 1px #dbdbdb;
    cursor: pointer;
}
.titulo{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    color: white;
    background-color: #434597;
    box-shadow: grey 3px 3px 13px -1px;
}
.postitulo{
    display: flex;
    align-items: center;
    margin: 0 10px 20px 10px;
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: grey 3px -1px 13px -1px;
}
a{
    cursor: pointer;
    background-color: #434597;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
    margin-left: 5px;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 1px 6px 3px rgb(0 0 0 / 8%), 0 2px 6px 0 rgb(0 0 0 / 8%);}
.encontrados{
    margin: 10px
}
.encontrados{
    margin: 10px
}
.imovel{
    position: relative;
    margin: 10px;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%), 0 3px 1px -2px rgb(0 0 0 / 8%), 0 1px 5px 0 rgb(0 0 0 / 8%);

}
.tres-botao{
    position: absolute;
    right: 0px;
    display: grid;
}
.div-imagem{
    background-color: #ce3131;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #000000b8;
}
#modal{
    background-color: #dbdbdb;
    padding: 40px;
    height: 80%;
    width: 80%;
    border-radius: 10px;
}
.espacamento{
    margin: 10px 0px;

}
.espacamento-cima{
    margin-top: 20px;
}
.espacamento-baixo{
    margin-bottom: 10px
}
.primeiro-imovel{
    margin: 0 70px;
}
.esconde{
    color: transparent;
}
.info-modal{
    padding: 40px;
    height: 100%;
}
.descricao{
    height: 35%;
}
.informacoes-imovel{
    display: flex;
}
.parte-cima{
    display: flex;

}
.red{
    cursor: pointer;
    background-color: #ce3131;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px;
    margin: 2px;
    margin-right: 10px;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 1px 6px 3px rgb(0 0 0 / 8%), 0 2px 6px 0 rgb(0 0 0 / 8%);}
.encontrados{
    margin: 10px
}
.botoes-lateral{
    cursor: pointer;
    background-color: #434597  ;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px;
    margin: 2px;
    margin-right: 10px;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 1px 6px 3px rgb(0 0 0 / 8%), 0 2px 6px 0 rgb(0 0 0 / 8%);}
.encontrados{
    margin: 10px
}
.img{
    background-color: blue;
    width: 300px;
    height: 300px;
}