@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400&family=Roboto:ital,wght@0,300;1,100&display=swap');
.espacamento{
    margin: 10px 10px
}
*{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    
}
.input-size{
    font-size: 12px;
}
html{
    background-color: #ededed;
}
header{
    display: flex;
    align-items: center;
    background-color: #434597;
    height: 13vh;
    position: relative;
    box-shadow: grey 0px -3px 11px 3px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.responsavel{
    padding: 20px 20px;
    display: block;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%), 0 3px 1px -2px rgb(0 0 0 / 8%), 0 1px 5px 0 rgb(0 0 0 / 8%);

    
}
#container-secundario{
    display: flex;
    padding-top: 10px;
}
#imagem{
    height: 70px
}
.imagem{
    height: 100%;
}
h1{
    color: white;
    font-family: monospace;
}
#usuario-header{
    position: absolute;
    right: 90px;
    color: white;
    font-family: monospace;
}
.codigo{
    width: 84%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}
.input{
    width: 90%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}
#pos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    background-color: white;
    margin-bottom: 10px;
    padding: 4px;
}

.trinta{
    width: 90%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}
.imoveis-header{
    padding: 10px;
    margin: 0 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
    color: black;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%), 0 3px 1px -2px rgb(0 0 0 / 8%), 0 1px 5px 0 rgb(0 0 0 / 8%);
    border: solid 1px #dbdbdb;
    cursor: pointer;
}
.titulo{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    color: white;
    background-color: #434597;
    box-shadow: grey 3px 3px 13px -1px;
}
.titulo-secundario{
    width: 50%;
    font-size: 12px;
}
.postitulo{
    display: flex;
    align-items: center;
    margin: 0 10px 20px 10px;
    padding: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: grey 3px -1px 13px -1px;
}
a{
    background-color: #434597;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
    margin-left: 5px;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 1px 6px 3px rgb(0 0 0 / 8%), 0 2px 6px 0 rgb(0 0 0 / 8%);}
.encontrados{
    margin: 10px
}
#div-final{
    display: flex;
    align-items: center;
    justify-content: center;
}
#botao-final{
    padding: 20px;
    border: black solid 1px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    background-color: #434597;
    margin-top: 40px;
    margin-bottom: 40px;
}
.imoveis-header:hover{
    background-color: #d6d2d2;
    border: solid 1px #bdbdbd;
    transition:all 0.4s ease;
}
a:hover{
    background-color: #2f3275;
    cursor: pointer;
}
.telefone{
    width: 93%;
}

#botao-final:hover{
    background-color: #2f3275;
    cursor: pointer;
}