
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400&family=Roboto:ital,wght@0,300;1,100&display=swap');

*{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ededed;
    height: 100vh;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));

}
.imagem{
    height: 50px;
}
.arrumando{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: #3dd12f;
    border-radius: 10px;
    height: 400px;
    width: 325px;
    display: block;
    padding: 40px;
    position: relative;
    box-shadow: 0px 3px 21px -10px;
}
#welcome{
    margin: 10px;
    color: white;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    padding-top: 10px;
    display: flex;
    width: 90%;
    outline: none;
    background-color: transparent;
    border: transparent;
}
input::placeholder{
    color: white;
}
.ordem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    border-bottom: 1px black solid;
}
.divbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin-top: 30px;
    padding: 12px 25px;
    border-radius: 20px;
    color: black;
}
.senha{
    font-size: 13px;
    margin-left: 30px;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}
